

@media (max-width: 1440px) {
    .user-tools-item {
        padding: 11px 15px;
        gap: 10px;
    }
    .login-wrap {
        height: unset;
        min-height: 100vh;
    }
    .list-quick-search {
        grid-template-columns: repeat(2,1fr);
    }
    .question-ai-wrap {
        .question-ai-content,
        .heading {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

@media (max-width: 1200px) {
    .text-to-image-wrap {
        position: unset;
    }
    .login-wrap {
        .content {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .sidebar-right {
        position: fixed;
        top: 80px;
        bottom: 0;
        right: 0;
        width: 300px;
        padding: 20px 15px;
        transform: translateX(100%);
        z-index: 15;
        &.active {
            transform: translateX(0%);
        }
        .sidebar-btn-close {
            display: flex;
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .layout-wrap {
        &.full-width {
            .section-menu-left {
                left: 0;
                .button-show-hide {
                    transform: rotate(0deg);
                }
                .box-logo {
                    left: 0;
                }
                .bot {
                    left: 0;
                }
            }
            .section-content-right {
                .header-dashboard {
                    padding-left: 15px !important;
                }
            }
        }
        .section-menu-left {
            left: -100%;
            .button-show-hide {
                transform: rotate(180deg);
            }
            .box-logo {
                background-color: var(--DarkSurface);
                border-color: #fff;
                left: -100%;
            }
            .bot {
                left: -100%;
            }
        }
        .section-content-right {
            .main-content {
                padding-left: 0 !important;
                .main-content-inner {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            .header-dashboard {
                width: 100% !important;
                padding-left: 15px !important;
                padding-right: 15px;
                left: 0 !important;
                .button-show-hide {
                    @include d-flex();
                }
                .header-left {
                    > a {
                        display: none;
                    }
                }
            }
        }
        &.full-width {
            .overplay-menu {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

@media (max-width: 991px) {
    .login-wrap {
        .content {
           width: 45%;
        }
        .image .title {
            font-size: 50px;
            line-height: 62px;
        }
    }
    .contact-content {
        gap: 30px;
        .image .infor {
            top: 15px;
            left: 15px;
            right: 15px;
        }
    }
    .faq-doc-wrap .doc-scroll {
        width: 285px;
    }
    .overplay-menu {
        position: fixed;
        inset: 0;
        content: '';
        background: #00000080;
        z-index: 19;
        opacity: 0;
        visibility: hidden;
        @include transition3;
    }
}

@media (max-width: 767px) {
    .header-dashboard .header-grid {
        gap: 16px;
    }
    .popup-profile .modal-content {
        flex-direction: column;
        .icon-close-popup {
            top: 10px;
            right: 10px;
        }
        .left-menu {
            width: 100%;
            padding: 40px 15px 0px;
        }
        .right-content {
            padding: 15px;
        }
    }
    .profile-avatar {
        gap: 10px;
        img {
            width: 80px;
            height: 80px;
        }
    }
    .login-wrap {
        .content {
            width: 100%;            
        }
        .image {
            display: none;
        }
    }
    .contact-content {
        flex-direction: column;
        >* {
            width: 100% !important;
        }
    }
    .faqs .widget-accordion {
        padding: 20px 15px;
    }
    .faq-doc-wrap .doc-scroll {
        display: none;
    }
    .grid-2-col {
        grid-template-columns: 1fr;
    }
    .pricing-box {
        padding: 20px 15px;
    }
    .image-item .image-action {
        right: 15px;
        left: 15px;
        top: 15px;
        a {
            width: 32px;
            height: 32px;
            font-size: 20px;
        }
    }
    .grid-image {
        &.style-1 {
            flex-direction: column;
            >* {
                width: 100% !important;
            }
        }
    }
    .text-to-image-wrap {
        padding: 15px;
    }
    .question-result-wrap {
        .heading {
            padding: 15px;
        }
        .question-result-content {
            padding: 15px;
        }
    }
    .list-quick-search {
        grid-template-columns: repeat(1,1fr);
    }
    .form-question-ai .dropdown-cate {
        grid-template-columns: 1fr;
    }
    .question-ai-wrap .question-ai-content {
        position: unset;
    }
    .question-ai-wrap {
        .question-ai-content,
        .heading {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    h1,.h1 {
        font-size: 40px;
        line-height: 52px;
    }
    
    h2,.h2 {
        font-size: 32px;
        line-height: 42px;
    }
    
    h3,.h3 {
        font-size: 28px;
        line-height: 38px;
    }
    
    h4,.h4 {
        font-size: 26px;
        line-height: 36px;
    }

    .chat-bot-wrap {
        .bubble .content {
            padding: 15px;
        }
        .heading {
            padding: 15px;
        }
        .content-chat {
            padding: 15px;
            gap: 15px;
        }
    }
    .form-chat {
        padding: 15px;
        .btn-message {
            right: 27px;
        }
    }
    .main-content-wrap {
        flex-direction: column;
    }
    .user-tools-wrap {
        padding: 24px 15px;
    }
    .login-page {
        .left {
            display: none;
        }
        .login-box {
            gap: 22px;
        }
    }
}