.body-text {
    font-size: 16px;
    line-height: 26px;
}

.body-text-2 {
    font-size: 18px;
    line-height: 28px;
}

.text-button {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}

.text-button-small {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.grid-2-col {
    gap: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wg-social {
    .social-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        font-size: 24px;
    }
    &.style-1 {
        .social-item {
            color: var(--Secondary);
            &:hover {
                color: #fff;
            }
        }
    }
}

.counters-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 11px 15px;
    border-radius: 4px;
    border: 1px solid var(--Line);
    .icon {
        font-size: 24px;
        color: var(--Primary);
    }
}

.banner-box {
    display: grid;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    background: linear-gradient(253.69deg, #182D33 -0.92%, #382944 100%);
}

.user-tools-wrap {
    padding: 40px;
    .user-tools-item {
        max-width: 640px;
        .image {
            .icon {
                font-size: 40px;
                color: var(--Primary);
            }
        }
    }
}

.user-tools-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 22px;
    border-radius: 32px;
    background-color: var(--Surface);
    border: 2px solid var(--Line);
    @include transition3;
    .icon {
        font-size: 32px;
    }
    &:hover {
        background-color: var(--DarkSurface)
    }
}

.dropdown-default {
    .dropdown-toggle {
        &::after {
            display: none;
        }
    }
    .dropdown-menu {
        width: 200px;
        background-color: var(--DarkSurface);
        border-radius: 12px;
        border: 1px solid var(--Line);
        padding: 11px;
        .dropdown-item {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: var(--OnSurface);
            padding: 8px 12px;
            border-radius: 8px;
            @include transition3;
            &.active,
            &:hover {
                background-color: var(--Surface)
            }
        }
    }
}

.list-icon-function {
    display: flex;
    gap: 20px;
    .item-icon {
        font-size: 28px;
        color: var(--Secondary);
        display: flex;
        cursor: pointer;
        @include transition3;
        &:hover {
            color: var(--Primary);
        }
    }
    .favourite {
        .icon-Star {
            display: none;
        }
        &.active {
            color: var(--Yellow) !important;
            .icon-Star {
                display: block;
            }
            .icon-Star-fill {
                display: none;
            }
        }
    }
    &.type-small {
        gap: 8px;
        .item-icon {
            font-size: 20px;
        }
    }
}

.chat-history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 11px 15px;
    border: 1px solid var(--Line);
    background-color: var(--Surface);
    border-radius: 12px;
    @include transition3;
    cursor: pointer;
    &.active,
    &:hover {
        background-color: var(--DarkSurface);
        color: var(--OnSurface);
    }
    &:hover {
        .list-icon-function {
            .item-icon {
                display: flex;
            }
        }
    }
    .title {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }
    .list-icon-function {
        .item-icon {
            @include transition3;
            display: none;
            &.active {
                display: flex;
            }
        }
    }
    .text {
        color: var(--Secondary);
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }
}

.faq-asks {
    display: grid;
    gap: 12px;
    .accordion-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        padding: 16px 15px;
        border: 1px solid var(--Line);
        border-radius: 12px;
        @include transition3;
        cursor: pointer;
        .icon{
            font-size: 18px;
            transition: all 0.3s linear;
        }
        &:not(.collapsed){
            .icon{
                transform: rotate(90deg);
            }
        }
        &:hover {
            background-color: var(--DarkSurface);
            .icon{
                color: var(--Primary);
            }
        }
    }
    .accordion-body{
        padding: 16px 15px 20px;
    }
    &:not(:last-child){
        border-bottom: 1px solid rgba(48, 48, 48, 0.1);
    }
}

.faqs {
    display: grid;
    gap: 20px;
    .widget-accordion {
        padding: 19px 30px;
        border: 2px solid var(--Line);
        border-radius: 16px;
        @include transition3;
        &.active {
            background-color: var(--DarkSurface);
        }
        &:hover {
            background-color: var(--DarkSurface);
            .icon{
                color: var(--Primary);
            }
        }
    }
    .accordion-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        @include transition3;
        cursor: pointer;
        .icon{
            font-size: 18px;
            transition: all 0.3s linear;
        }
        &:not(.collapsed){
            .icon{
                transform: rotate(90deg);
            }
        }
       
    }
    .accordion-body{
        padding: 0;
        padding-top: 16px;
        border-top: 1px solid var(--Line);
        margin-top: 15px;
    }
    &:not(:last-child){
        border-bottom: 1px solid rgba(48, 48, 48, 0.1);
    }
}

.uploadfile {
    text-align: center;
    width: 100%;
    height: 152px;
    position: relative;
    border: 1px dashed var(--Primary);
    background-color: var(--DarkSurface);
    border-radius: 8px;
    cursor: pointer;
    @include flex(center,center);
    gap: 8px;
    flex-direction: column;
    .icon {
        font-size: 44px;
        color: var(--OnSurface);
    }
    input {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        object-fit: cover;
        border-radius: 8px;
    }
    &.has-img {
        img {
            opacity: 1;
            visibility: visible;
        }
    }
    .preview-video {
        display: none;
        width: 100%;
        max-height: 150px;
        border-radius: 8px;
        margin-bottom: 0;
    }
    &.has-video {
        .preview-video {
            display: block;
        }
        .icon,
        .text {
            display: none;
        }
    }
}

.tf-switch-check {
    position: relative;
    width: 68px;
    height: 36px;
    -webkit-appearance: none;
    background-color: #93929E;
    border-radius: 99px;
    transition: 0.3s;
    &::before {
        content: "";
        border-radius: 99px;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 4px;
        left: 4px;
        background: #fff;
        transition: 0.2s;
    }
    &:checked {
        background-color: var(--Primary);
        &::before {
            left: 36px;
        }
    }
    &.style-sm {
        width: 34px;
        height: 18px;
        &::before {
            top: 2px;
            left: 2px;
            width: 14px;
            height: 14px;
        }
        &:checked {
            &::before {
                left: 18px;
            }
        }
    }
}

.pricing-box {
    padding: 39px;
    border: 1px solid var(--Line);
    border-radius: 20px;
    background-color: var(--DarkSurface);
    .price {
        font-family: "Mukta";
        font-weight: 700;
        font-size: 56px;
        line-height: 68px;
    }
    .per {
        margin-bottom: 10px;
    }
    .save {
        display: flex;
        padding: 3px 12px;
        color: var(--DarkSurface);
        background-color: var(--Primary);
        border-radius: 99px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }
    ul {
        display: grid;
        gap: 12px;
        li {
            display: flex;
            gap: 17px;
            align-items: center;
        }
    }
}

.change-log-box {
    display: grid;
    gap: 16px;
    padding: 23px;
    border-radius: 16px;
    border: 1px solid var(--Line);
    background-color: var(--DarkSurface);
    .heading {
        display: flex;
        gap: 16px;
        align-items: center;
        padding-bottom: 13px;
        border-bottom: 1px solid var(--Line);
        .title {
            color: var(--Primary);
        }
        .time {
            padding: 4px 12px ;
            border-radius: 8px;
            color: var(--Secondary);
            background-color: var(--Surface);
        }
    }
    .sub {
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    .descs {
        display: grid;
        gap: 6px;
        .desc-item {
            position: relative;
            color: var(--Secondary);
            padding-left: 24px;
            &::before {
                position: absolute;
                content: '';
                left: 9px;
                top: 50%;
                transform: translateY(-50%);
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: var(--Secondary);
                border-radius: 50%;
            }
        }
    }
}

.tf-check {
    position: relative;
    background: transparent;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    min-width: 18px;
    border-radius: 2px;
    border: 1px solid var(--Secondary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include transition3;
    &:checked {
        border-color: var(--Primary) !important;
        background-color: var(--Primary) !important;
        &::before {
            opacity: 1;
            transform: scale(1);
        }
    }
    &::before {
        font-family: $fontIcon;
        content: "\e931";
        position: absolute;
        color: var(--DarkSurface);
        top: 50%;
        left: 50%;
        margin-top: -7px;
        margin-left: -7px;
        font-size: 14px;
        line-height: 14px;
        opacity: 0;
        transform: scale(0);
        @include transition3;
    }
}

.video-wrap {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
    .popup-youtube {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #2A2839;
        .icon {
            margin-left: 8px;
        }
    }
}

.profile-avatar {
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center;
    img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        flex-shrink: 0;
    }
    .add-img {
        .tf-btn-2 {
            padding: 10px 23px;
        }
        input {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }
}

.code-wrapper{
    overflow: hidden;
    max-width: 100%;
    pre {
        margin: 0 !important;
        background : #0E0E14 !important;
        border-radius: 12px;
        &::-webkit-scrollbar {
            height: 8px; 
        }
        &::-webkit-scrollbar-thumb {
            background: var(--Secondary);
            border-radius: 8px;
        }
        &::-webkit-scrollbar-track {
            background: var(--Line);
            border-radius: 8px;
        }
    }
}