//settings
$font-main-family: "Satoshi", sans-serif;
$fontIcon: "icomoon";

:root {

    --Primary: #31F8A3;
    --Yellow: #EABA12;
    --Error: #D84C10;
    --OnSurface: #FFFFFF;
    --Secondary: #93929E;
    --DarkSurface: #0E0E14;
    --Surface: #1A1A20;
    --Line: #2A2839;
    
}